/******************************************************************
Site Name: Ad Valorem
Author: Jack Machin

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.logo-container {
    text-align: left;
}

.header-tel {
    text-align:right;
}
